// COLOURS ==================================
$black:                 #000000;
$grey:                  #55595C;
$light-grey:            #e3e3e3;

//BOLD ======================================

$super-bold:            800;
$bold:                  600;
$semi-bold:             500;
$regular:               400;
$light:                 300;
$very-light:            200;
$super-light:           100;