// COLOURS ==================================
$black:                 #000000;
$grey:                  #55595C;
$light-grey:            #e3e3e3;
$white:                 #ffffff;

//BOLD ======================================

$super-bold:            800;
$bold:                  600;
$semi-bold:             500;
$regular:               400;
$light:                 300;
$very-light:            200;
$super-light:           100;

// TRANSFORM

$image-transform:   perspective(160rem)
                    translate3d(0px, 0px, 15rem)
                    rotateX(27deg)
                    scale(0.9, 0.9);
